@import "tailwindcss";

@theme {
  --color-red: #ff0000;
  --dark-red: #990000;
  --color-gray: #2a2a2a;
  --color-dark-gray: #150e0e;
  --color-light-gray: #d9d9d9;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

.red-line {
  width: 183px;
  height: 15px;
  border: 1px solid red;
  background-color: red;
  border-radius: 50px;
}
